/**
 * {{#lambda.indented_star_1}}{{{unescapedDescription}}}{{/lambda.indented_star_1}}
 * @export
 * @interface {{classname}}
 */
export interface {{classname}} {{#parent}}extends {{{.}}} {{/parent}}{
{{#additionalPropertiesType}}
    [key: string]: {{{additionalPropertiesType}}}{{#hasVars}} | any{{/hasVars}};
{{/additionalPropertiesType}}
{{#vars}}
    /**
     * {{#lambda.indented_star_4}}{{{unescapedDescription}}}{{/lambda.indented_star_4}}
     * @type {{=<% %>=}}{<%&datatype%>}<%={{ }}=%>
     * @memberof {{classname}}
     {{#dataFormat}}
     * @format {{.}}
     {{/dataFormat}}
     {{#minLength}}
     * @minLength {{.}}
     {{/minLength}}
     {{#maxLength}}
     * @maxLength {{.}}
     {{/maxLength}}
     {{#pattern}}
     * @pattern {{{.}}}
     {{/pattern}}
     {{#minimum}}
     * @minimum {{.}}{{#exclusiveMinimum}} (exclusive){{/exclusiveMinimum}}
     {{/minimum}}
     {{#maximum}}
     * @maximum {{.}}{{#exclusiveMaximum}} (exclusive){{/exclusiveMaximum}}
     {{/maximum}}
     {{#multipleOf}}
     * @multipleOf {{.}}
     {{/multipleOf}}
     {{#minItems}}
     * @minItems {{.}}
     {{/minItems}}
     {{#maxItems}}
     * @maxItems {{.}}
     {{/maxItems}}
     {{#uniqueItems}}
     * @uniqueItems
     {{/uniqueItems}}
     {{#minProperties}}
     * @minProperties {{.}}
     {{/minProperties}}
     {{#maxProperties}}
     * @maxProperties {{.}}
     {{/maxProperties}}
     {{#deprecated}}
     * @deprecated
     {{/deprecated}}
     */
    {{#isReadOnly}}readonly {{/isReadOnly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}};
{{/vars}}
}{{#hasEnums}}

{{#vars}}
{{#isEnum}}
/**
* @export
* @enum {string}
*/
export type {{classname}}{{enumName}} =
{{#allowableValues}}
    {{#enumVars}}
    | {{{value}}}
    {{/enumVars}}
{{/allowableValues}}
{{/isEnum}}{{/vars}}{{/hasEnums}}
